<div class="container">
        <h1>Sesi칩n Iniciada</h1>
        <p>Bienvenido {{ user.first_name }} {{ user.last_name }}</p>

        <ul class="list-group">
            <li class="list-group-item">Correo electr칩nico: {{ user.email }}</li>
            <li class="list-group-item">Edad: {{ user.age }}</li>
            <li class="list-group-item">Rol: {{ user.role }}</li>
        </ul>
        <a href="/" class="btn btn-primary">P치gina de Inicio</a>

        <a href="/session/logout" class="btn btn-danger">Cerrar Sesi칩n</a>
</div>